@import url('https://fonts.googleapis.com/css2?family=Girassol&display=swap');

html {
    font-family: 'Girassol', cursive;
    font-size: 20px;
}

/*
h1 {
    font-size: 2rem;
    color: magenta;
    text-shadow:
        0px 0px 15px white, 
        0px 10px 10px yellow,
        0px -10px 10px aqua;
}
*/

h1 {
    font-size: 2rem;
    color: green;
    text-shadow:
        1px 1px 0px black, 
        2px 2px 0px green,
        3px 3px 0px black;
}

p {
    line-height: 1.5;
    color: black;
    text-shadow:
        0.2px 0.2px 0px white,
        0.4px 0.4px 0px black,
        0.6px 0.6px 0px white,
        0.8px 0.8px 0px black; 
}